.innterest {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.interest_list .item{
    display: inline-block;
    margin-left: 40px;
}
.interest_list .item img{
    height:40px;
    margin-bottom:20px;
  
}